[Desktop Entry]
Type=Application
Name=hello
Exec=waydroid app launch com.example.hello
Icon=/home/asherah/.local/share/waydroid/data/icons/com.example.hello.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app_settings;

[Desktop Action app_settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:com.example.hello
Icon=/home/asherah/.local/share/waydroid/data/icons/com.android.settings.png
